<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pitu Alerts</title>
</head>
<body>
    <h2 style="color: #2e6c80; text-align: center;">
        BTC price above threshold!
    </h2>
    <hr />
    <p style="text-align: center;">
        BTC Price today:
        <span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">
            {{ btc_price }} USD
        </span>
    </p>

</body>
</html>